// Variables
$color-base-white: rgb(255, 255, 255);

$color-grey-light-very: rgb(245, 245, 245);
$color-grey-light: rgb(230, 230, 230);
$color-grey: rgb(180, 180, 180);
$color-grey-dark: rgb(80, 80, 80);
$color-black: black;

$font-smallest: 1.1rem;
$font-small: 1.4rem;
$font-medium: 1.6rem;
$font-large: 2.4rem;
$font-large-very: 3.6rem;

$margin-main: 1.5rem;

$border-radius-small: 2px;
$border-radius: 4px;

// $icon-small: 1.7rem;
$icon-small: 18px;
$icon-medium: 30px;
$icon-large: 40px;

$max-width: 100rem;
$height-phone: 84vh;
$height-header: 6.5rem;
$height-footer: 3rem;

$break-phone: 650px;
$break-tablet: 800px;

// Beautifullness
html {
  font-size: 62.5%;

  @media only screen and (max-width: $break-tablet) {
    font-size: 50%;
  }
  @media only screen and (max-width: $break-phone) {
    // font-size: 62.5%;
  }
}

* {
  font-family: "lato", sans-serif;
  font-weight: 400;
  color: $color-grey-dark;

  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  border: none;
  background-color: $color-grey-light-very;
}

.main-container {
  background-color: $color-base-white;
  min-height: calc(100vh - 3rem);
  max-width: $max-width;

  margin: $margin-main auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto 1fr;
  justify-items: start;
  border-radius: $border-radius;
  // overflow: hidden;
  // gap: 2rem;
  position: relative;

  @media only screen and (max-width: $break-tablet) {
    min-height: $height-phone;
    width: 100vw;
    margin: 0;
    // width: 100%;
  }
  @media only screen and (max-width: $break-phone) {
    grid-template-columns: 1fr;

    // grid-template-rows: auto 1fr 3rem;
  }
}
