// button - general
.btn {
  transition: all 0.4s;
  background-color: $color-base-white;
  border: none;
  // border-radius: $border-radius-small;
  font-size: $font-medium;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem 2rem;
  text-decoration: none;

  &--icon {
    height: $icon-medium;
    width: $icon-medium;
    fill: $color-grey-dark;
  }

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(1);
  }
}

.heading-2 {
  font-size: $font-medium;
  text-align: center;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

// spinner
// error msg and msg

.icon-hover {
  transition: all 0.4s;
  &:hover {
    transform: scale(1.2);
  }
  &:active {
    transform: scale(1);
  }
}
