// button - general
.btn {
  transition: all 0.4s;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: $font-medium;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem 2rem;
  text-decoration: none;
  cursor: pointer;
  transform: scale(1);

  @media only screen and (max-width: $break-phone) {
    padding: 1rem 1.5rem;
  }

  svg {
    fill: $color-grey-dark;
    height: 2rem;
    width: 2rem;
  }

  span {
    @media only screen and (max-width: $break-phone) {
      display: none;
    }
  }

  &:focus {
    // outline: $color-grey-light-very solid 1px;
    outline: none;
    transform: scale(1.1);
  }

  &--large {
    width: auto;
    background-color: $color-grey-light-very;
    border-radius: 10rem;

    span {
      text-transform: uppercase;
      font-weight: 800;

      @media only screen and (max-width: $break-phone) {
        display: block;
      }
    }
  }

  &--icon {
    height: $icon-medium;
    width: $icon-medium;
    fill: $color-grey-dark;
  }

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(1);
  }

  &-slider {
    position: absolute;
    right: 0;
    top: 17rem;
    transform: translate(60%);
    background-color: $color-base-white;
    -webkit-clip-path: circle(50%);
    clip-path: circle(50%);
    width: $icon-large;
    height: $icon-large;
    fill: $color-grey-dark;

    display: none;
    @media only screen and (max-width: $break-phone) {
      display: block;
    }
  }
}

.heading-2 {
  font-size: $font-medium;
  text-align: center;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.icon {
  &--tiny {
    height: $icon-small;
    width: $icon-small;
    fill: $color-grey-dark;
    margin-right: 1rem;
    // @media only screen and (max-width: $break-tablet) {
    //   &:hover {
    //     transform: scale(1);
    //   }
    // }
  }
  &--medium {
    height: $icon-medium;
    width: $icon-medium;
  }
  &--large {
    height: $icon-large;
    width: $icon-large;
  }
}

.pagination {
  .btn {
    position: absolute;
    gap: 0;
    bottom: 2rem;
    padding: 0.5rem 1.4rem;
    font-size: $font-small;
    background-color: $color-grey-light-very;
    border-radius: 10rem;
    color: $color-grey;

    span {
      color: inherit;
    }

    &:hover {
      color: $color-grey-dark;
    }

    &--prev {
      left: 1.5rem;
    }

    &--next {
      right: 1.5rem;
    }
    @media only screen and (max-width: $break-tablet) {
      color: $color-grey-dark;
      span {
        display: inline;
      }
    }
  }
}

// Spinner
.spinner {
  margin: 8rem auto;
  text-align: center;

  svg {
    fill: $color-grey;
    width: 5rem;
    height: 5rem;
    animation: rotate 2s infinite linear;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

// message (for example error)
.message {
  text-align: center;
  margin: 5rem;
  font-size: $font-medium;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-grey;

  @media only screen and (max-width: $break-phone) {
    margin: 5rem 1rem;
  }

  svg {
    fill: $color-grey;
    height: 3rem;
    width: 3rem;
  }

  span {
    color: inherit;
  }
}

.test-div {
  width: 2rem;
  height: 2rem;
  background-color: red;
  font-size: $font-large;
}

.hover {
  transition: all 0.4s;
  &:hover {
    transform: scale(1.2);
    @media only screen and (max-width: $break-tablet) {
      &:hover {
        transform: scale(1);
      }
    }
  }
  &:active {
    transform: scale(1.1);
  }
}
