.preview {
  margin-top: 4px;
  flex-shrink: 0;
  text-decoration: none;
  height: 60px;
  display: grid;
  grid-template-columns: 12rem 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  justify-items: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  filter: grayscale(0.2);
  transition: all 0.4s;

  @media only screen and (max-width: $break-phone) {
    // display: block;
    position: relative;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    background-color: $color-base-white;
    z-index: 1;
    opacity: 0.5;
    transition: all 0.2s;

    @media only screen and (max-width: $break-tablet) {
      display: none;
    }
  }

  &:hover {
    transform: translateX(-0.7rem);
    filter: grayscale(0);
    &::before {
      opacity: 0;
    }
  }

  &:active {
    transform: translateX(0);
  }

  &--image {
    grid-row: 1/3;

    @media only screen and (max-width: $break-phone) {
      grid-column: 1/3;
    }

    img {
      // display: block;
      width: 100%;
      height: 100%;
      // object-fit: contain;
    }
  }

  &__data {
    z-index: 1;
    &--title {
      margin: 0;
      font-size: $font-small;
      text-align: center;

      // trim text
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 100%;
      //
    }

    &--title {
      align-self: end;
    }

    &--publisher {
      margin: 0;
      grid-column: 2;
      text-align: center;
      font-size: $font-smallest;
      align-self: start;
    }

    @media only screen and (max-width: $break-phone) {
      position: absolute;
      color: $color-grey-light;

      &--title {
        bottom: 15px;
        left: 50%;

        transform: translate(-50%, 30%) skewY(-6deg);
        text-align: center;
        width: 90%;
        font-size: $font-medium;
        font-style: italic;
        z-index: 1;

        span {
          color: $color-grey-dark;
          -webkit-box-decoration-break: clone;
          box-decoration-break: slice;
          padding: 0 0.2rem;
          line-height: 130%;
          background-color: rgba($color-grey-light, 0.7);
        }
      }

      &--publisher {
        display: none;
        // bottom: 2px;
        // left: 50%;
        // transform: translateX(-50%);
      }
    }
  }

  &:first-child {
    margin-top: 0;
  }
}
