.search-results {
  display: flex;
  flex-direction: column;
  justify-content: start;
  grid-row: 2/3;
}

.results {
  margin-bottom: auto;

  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-right: 0.5rem;
  // background-color: $color-base-white;
}

.pagination {
  position: relative;
  height: 6rem;

  //then goes buttons from components
}

.copyright {
  padding: 1.5rem;
  font-size: $font-smallest;
  color: $color-grey;
}
