.search-results {
  display: flex;
  flex-direction: column;
  // justify-items: flex-start;
}

.results {
  // width: 25rem;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-right: 0.5rem;
}

.copyright {
  // margin: 2rem;
  padding: 1.5rem;
  width: 100%;
  font-size: $font-smallest;
  color: $color-grey;
}

.pagination {
  margin: 3rem 2rem auto 2rem;
  position: relative;

  //then goes buttons from components
}
